body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: darkslategray;
    font-size: 25px;
}

p#hp {
    color: red;
}

p#gold {
    color: gold;
}

#shrine {
    background-image: unset;
}

#button {
    width: 75px;
    height: 25px;
}

header {
    margin: -7px;
    margin-left: 55%; 
}

#user-image {
    width: 50px;
    height: 50px;
    border-radius: 20%;
}

.hidden {
    display: none;
}
/* main {
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 75px;
}

.choice {
    display: block;
    list-style: none;
    padding: 5px;
} */
