body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: darkslategray;
/* this is changing all of it */
}

#button {
    width: 75px;
    height: 25px;
}
/* same with this ^^ */
