
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(117, 131, 139);
    background-image: url(../assets/osrsmap.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 18px;
}

header {
    margin: -7px;
    margin-left: 55%; 
}

p#hp {
    color: red;
}

p#gold {
    color: gold;
}

a {
    font-size: 20px;
}

#map-links {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90vw;
    height:calc(90vw * 642 / 900);
}

a:visited{
    color: white;
}

a:hover{
    color:violet;
}

header {
    margin: -7px;
    margin-left: 55%; 
}

#user-image {
    width: 50px;
    height: 50px;
}

/* .quests {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
} */
