body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(117, 131, 139);
    background-image: url(../assets/osrsmap.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center top;
    
}

.quests {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
}
